Repository seddonym/grimp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests, build-docs

format-python:
  name: Format Python
  entry: just format-python
  language: system
  require_serial: true
  pass_filenames: false

format-rust:
  name: Format Rust
  entry: just format-rust
  language: system
  require_serial: true
  pass_filenames: false

lint-python:
  name: Lint Python
  entry: just lint-python
  language: system
  pass_filenames: false

lint-rust:
  name: Lint Rust
  entry: just lint-rust
  language: system
  pass_filenames: false

run-python-tests:
  name: Run Python tests
  entry: just test-python
  language: system
  pass_filenames: false

run-rust-tests:
  name: Run Rust tests
  entry: just test-rust
  language: system
  pass_filenames: false

build-docs:
  name: Build docs
  entry: just build-docs
  language: system
  pass_filenames: false

Remove tox.ini
  tox.ini
Due: none

Add justfile
  justfile
Due: none

Switch to uv
  pyproject.toml
Due: format-python, lint-python

Update Github actions workflow
  .github/workflows/main.yml
Due: none

Update contributing guide
  CONTRIBUTING.rst
Due: build-docs

Add pull request template
  .github/pull_request_template.md
Due: none

Add uv change to changelog
  CHANGELOG.rst
Due: build-docs

Add Python 3.14 testing to justfile
  CONTRIBUTING.rst
  justfile
Due: build-docs

Release v3.12
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/grimp/__init__.py
Due: format-python, lint-python, run-python-tests, build-docs

Don't use ports and adapters for ImportGraph
  .importlinter
  src/grimp/__init__.py
  src/grimp/adaptors/graph.py
  src/grimp/application/graph.py
  src/grimp/application/usecases.py
  src/grimp/main.py
  tests/benchmarking/test_benchmarking.py
  tests/unit/application/graph/__init__.py
  tests/unit/application/graph/test_chains.py
  tests/unit/application/graph/test_copy.py
  tests/unit/application/graph/test_direct_imports.py
  tests/unit/application/graph/test_hierarchy.py
  tests/unit/application/graph/test_layers.py
  tests/unit/application/graph/test_manipulation.py
  tests/unit/application/graph/test_misc.py
  tests/unit/application/graph/test_repr.py
  tests/unit/conftest.py
Due: format-python, lint-python, run-python-tests

Add nominate_cycle_breakers method
  CHANGELOG.rst
  docs/usage.rst
  pyproject.toml
  src/grimp/application/graph.py
  tests/unit/application/graph/test_cycle_breakers.py
Due: format-python, lint-python, run-python-tests, build-docs

Don't attempt to use nonexistent dependency group
  justfile
Due: none

Remove _run_benchmark function
  tests/benchmarking/test_benchmarking.py
Due: format-python, lint-python, run-python-tests

Update partial cache benchmark
  tests/benchmarking/adaptors.py
  tests/benchmarking/test_benchmarking.py
Due: format-python, lint-python, run-python-tests

Switch to walltime runner for benchmarks
  .github/workflows/main.yml
Due: none

Deliberately introduce slowness
  src/grimp/adaptors/modulefinder.py
Due: format-python, lint-python, run-python-tests

Update references to repo
  CHANGELOG.rst
  CONTRIBUTING.rst
  README.rst
  pyproject.toml
  tests/unit/application/graph/test_manipulation.py
Due: format-python, lint-python, run-python-tests, build-docs

Add codspeed badge
  README.rst
Due: build-docs

Add license badge
  README.rst
Due: build-docs

WIP - get plumbing for nominate_cycle_breakers in rust
  rust/src/graph/cycle_breakers.rs
  rust/src/graph/mod.rs
  src/grimp/application/graph.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Upgrade pytest-codspeed
  .github/workflows/main.yml
  pyproject.toml
Due: format-python, lint-python

Add update-snapshots to justfile
  justfile
Due: none

Improve naming in direct_import_exists
  rust/src/graph/direct_import_queries.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Add find_direct_imports rust method
  rust/src/graph/direct_import_queries.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Add nominate_cycle_breakers method
  CHANGELOG.rst
  docs/usage.rst
  rust/src/graph/cycle_breakers.rs
  rust/src/graph/mod.rs
  src/grimp/application/graph.py
  tests/unit/application/graph/test_cycle_breakers.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests, build-docs

Add benchmark for nominate_cycle_breakers
  tests/benchmarking/test_benchmarking.py
Due: format-python, lint-python, run-python-tests

Add snapshot tests for nominate_cycle_breakers
  tests/functional/__snapshots__/test_build_graph_on_real_packages.ambr
  tests/functional/test_build_graph_on_real_packages.py
Due: format-python, lint-python, run-python-tests

Release v3.13
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/grimp/__init__.py
Due: format-python, lint-python, run-python-tests, build-docs

Implement write method for BasicFileSystem
  rust/src/filesystem.rs
  src/grimp/application/ports/filesystem.py
  tests/unit/adaptors/test_filesystem.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Use BasicFileSystem in the cache
  src/grimp/adaptors/caching.py
  src/grimp/application/ports/caching.py
  src/grimp/application/usecases.py
  tests/unit/adaptors/test_caching.py
Due: format-python, lint-python, run-python-tests

WIP Trying to get writing to work
  rust/src/caching.rs
  rust/src/filesystem.rs
  rust/src/lib.rs
  src/grimp/adaptors/caching.py
  tests/unit/adaptors/test_caching.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

WIP Write json with rust
  rust/src/caching.rs
  rust/src/import_scanning.rs
  rust/src/module_finding.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Fix FakeBasicFileSystem state sharing across clones
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Uncomment cache tests
  tests/unit/adaptors/test_caching.py
Due: format-python, lint-python, run-python-tests

Small fixes
  rust/src/caching.rs
  rust/src/module_finding.rs
  src/grimp/adaptors/caching.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Fix RealBasicFileSystem.write
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Remove eprint! statements
  rust/src/caching.rs
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Use bincode for cache
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/caching.rs
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Path conditions:
  format-python: any of: ^pyproject\.toml|^src/.*|^tests/.*|^docs/conf.py$
  format-rust: any of: ^rust/.*$
  lint-python: any of: ^pyproject\.toml|^src/.*|^tests/.*|^docs/conf.py$
  lint-rust: any of: ^rust/.*$
  run-python-tests: any of: ^src/.*|^tests/.*|^rust/.*
  run-rust-tests: any of: ^rust/.*
  build-docs: any of: \.rst$|^docs/.*
