Repository seddonym/grimp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests, build-docs

format-python:
  name: Format Python
  entry: just format-python
  language: system
  require_serial: true
  pass_filenames: false

format-rust:
  name: Format Rust
  entry: just format-rust
  language: system
  require_serial: true
  pass_filenames: false

lint-python:
  name: Lint Python
  entry: just lint-python
  language: system
  pass_filenames: false

lint-rust:
  name: Lint Rust
  entry: just lint-rust
  language: system
  pass_filenames: false

run-python-tests:
  name: Run Python tests
  entry: just test-python
  language: system
  pass_filenames: false

run-rust-tests:
  name: Run Rust tests
  entry: just test-rust
  language: system
  pass_filenames: false

build-docs:
  name: Build docs
  entry: just build-docs
  language: system
  pass_filenames: false

Add autofix-python recipe
  justfile
Due: none

Upgrade Python code to 3.10
  docs/conf.py
  src/grimp/adaptors/caching.py
  src/grimp/adaptors/filesystem.py
  src/grimp/adaptors/modulefinder.py
  src/grimp/adaptors/packagefinder.py
  src/grimp/application/graph.py
  src/grimp/application/ports/caching.py
  src/grimp/application/ports/filesystem.py
  src/grimp/application/ports/modulefinder.py
  src/grimp/application/scanning.py
  src/grimp/application/usecases.py
  src/grimp/domain/analysis.py
  src/grimp/domain/valueobjects.py
  src/grimp/exceptions.py
  tests/adaptors/filesystem.py
  tests/adaptors/modulefinder.py
  tests/adaptors/packagefinder.py
  tests/functional/test_build_and_use_graph.py
  tests/functional/test_caching.py
  tests/unit/adaptors/test_caching.py
  tests/unit/adaptors/test_filesystem.py
  tests/unit/application/graph/test_chains.py
  tests/unit/application/test_scanning.py
  tests/unit/application/test_usecases.py
Due: format-python, lint-python, run-python-tests, build-docs

Drop support for Python 3.9
  .github/workflows/main.yml
  .github/workflows/release.yml
  CHANGELOG.rst
  pyproject.toml
Due: format-python, lint-python, build-docs

Add upgrade-python recipe
  justfile
  pyproject.toml
Due: format-python, lint-python

Implement write method for BasicFileSystem
  rust/src/filesystem.rs
  src/grimp/application/ports/filesystem.py
  tests/unit/adaptors/test_filesystem.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Use BasicFileSystem in the cache
  src/grimp/adaptors/caching.py
  src/grimp/application/ports/caching.py
  src/grimp/application/usecases.py
  tests/unit/adaptors/test_caching.py
Due: format-python, lint-python, run-python-tests

Uncomment cache tests
  tests/unit/adaptors/test_caching.py
Due: format-python, lint-python, run-python-tests

Remove eprint! statements
  rust/src/caching.rs
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Small fixes
  rust/src/caching.rs
  rust/src/module_finding.rs
  src/grimp/adaptors/caching.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Fix FakeBasicFileSystem state sharing across clones
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

WIP Trying to get writing to work
  rust/src/caching.rs
  rust/src/filesystem.rs
  rust/src/lib.rs
  src/grimp/adaptors/caching.py
  tests/unit/adaptors/test_caching.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

WIP Write json with rust
  rust/src/caching.rs
  rust/src/import_scanning.rs
  rust/src/module_finding.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Fix RealBasicFileSystem.write
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Use rust.FakeBasicFileSystem directly in tests
  tests/unit/adaptors/test_caching.py
Due: format-python, lint-python, run-python-tests

Make _scan_packages take BasicFileSystem directly
  src/grimp/application/usecases.py
Due: format-python, lint-python, run-python-tests

Remove unused _py parameter from write_cache_data_map_file
  rust/src/caching.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Remove unnecessary #[allow(unused_variables)] attributes
  rust/src/caching.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Simplify write method by chaining operations
  rust/src/filesystem.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Implement FromPyObject for ImportsByModule
  rust/src/caching.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Make internal types and functions private
  rust/src/filesystem.rs
  rust/src/import_scanning.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Cache: Write data map file from rust (#259)
  rust/src/caching.rs
  rust/src/filesystem.rs
  rust/src/import_scanning.rs
  rust/src/lib.rs
  src/grimp/adaptors/caching.py
  src/grimp/application/ports/caching.py
  src/grimp/application/ports/filesystem.py
  src/grimp/application/usecases.py
  tests/unit/adaptors/test_caching.py
  tests/unit/adaptors/test_filesystem.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Add benchmark comparing powerwalk vs os.walk for package discovery
  benchmark_walk.py
  pyproject.toml
Due: format-python, lint-python

Implement stub GraphBuilder
  rust/src/graph/builder/mod.rs
  rust/src/graph/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Add build_graph_rust usecase
  .importlinter
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/graph/builder/mod.rs
  rust/src/graph/builder/utils.rs
  rust/src/graph/mod.rs
  rust/src/graph_building.rs
  rust/src/lib.rs
  src/grimp/__init__.py
  src/grimp/application/graph.py
  src/grimp/application/usecases.py
  src/grimp/main.py
  tests/functional/test_build_graph_on_real_packages.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

TEMP Add benchmark script
  benchmark_build_graph.py
  justfile
Due: none

Implement parallelism in graph building
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/graph/builder/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Implement caching
  benchmark_build_graph.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/graph/builder/cache.rs
  rust/src/graph/builder/mod.rs
  rust/src/graph_building.rs
  rust/src/import_parsing.rs
  src/grimp/application/usecases.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Also use parallelism to discover Python modules
  rust/src/graph/builder/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

TEMP Update benchmarks to use build_graph_rust
  tests/benchmarking/test_benchmarking.py
Due: format-python, lint-python, run-python-tests

Make build_graph a simple function
  rust/src/graph/builder/mod.rs
  rust/src/graph_building.rs
  rust/src/lib.rs
  src/grimp/application/usecases.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Implement error handling in build_graph
  rust/src/errors.rs
  rust/src/graph/builder/cache.rs
  rust/src/graph/builder/mod.rs
  rust/src/graph_building.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Extract helper functions to get number of threads
  rust/src/graph/builder/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Reduce channel capacities
  rust/src/graph/builder/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Create ImportGraph.from_rustgraph
  src/grimp/application/graph.py
  src/grimp/application/usecases.py
Due: format-python, lint-python, run-python-tests

More tweaks
  rust/src/graph/builder/cache.rs
  rust/src/graph/builder/mod.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Add distill_external_module logic to handle namespace packages
  rust/src/graph/builder/mod.rs
  rust/src/graph/builder/utils.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Support multiple packages, fix a few bugs
  rust/src/graph/builder/mod.rs
  rust/src/graph/builder/utils.rs
  rust/src/graph_building.rs
  src/grimp/application/usecases.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

TEMP Run all functional tests for build_graph_rust
  tests/functional/conftest.py
  tests/functional/test_build_and_use_graph.py
  tests/functional/test_build_and_use_graph_with_multiple_roots.py
  tests/functional/test_build_graph_on_real_packages.py
  tests/functional/test_encoding_handling.py
  tests/functional/test_error_handling.py
  tests/functional/test_namespace_packages.py
Due: format-python, lint-python, run-python-tests

Cache improvements
  rust/src/graph/builder/cache.rs
  rust/src/graph/builder/imports_cache.rs
  rust/src/graph/builder/mod.rs
  src/grimp/application/usecases.py
Due: format-python, format-rust, lint-python, lint-rust, run-python-tests, run-rust-tests

Move python file reading utils to own file
  rust/src/graph/builder/mod.rs
  rust/src/graph/builder/read_python_file.rs
  rust/src/graph/builder/utils.rs
Due: format-rust, lint-rust, run-python-tests, run-rust-tests

Path conditions:
  format-python: any of: ^pyproject\.toml|^src/.*|^tests/.*|^docs/conf.py$
  format-rust: any of: ^rust/.*$
  lint-python: any of: ^pyproject\.toml|^src/.*|^tests/.*|^docs/conf.py$
  lint-rust: any of: ^rust/.*$
  run-python-tests: any of: ^src/.*|^tests/.*|^rust/.*
  run-rust-tests: any of: ^rust/.*
  build-docs: any of: \.rst$|^docs/.*
